{%extends "base_time_line.html" %}
{% block header%}

    <div class="row">
        <div class="col-12 col-md-3 col-xl-3" >
            <div class="card-body">
                <h5 class="card-title text-center">Tags</h5>
            </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <div class="text-right">
                    {%for tag in tags%}
                        <a href="{% url 'busca_tag' tag.id %}"> #{{tag.descricao}}</a>
                    {%endfor%}
                    </div>
                      <form action="{%url 'busca_tag_form' %}" method="get" class="bd-search d-flex align-items-center">
                            <input id="q" name="q" type="text" placeholder="Pesquisar tag..." class="form-control ds-input" autocomplete="off">
                            <button type="submit" value="Buscar" auto class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" data-toggle="collapse">Buscar</button>
	                    </form>
                </div>

        </div>
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <br/>
        <form method="post" class="form-group" action="{% url 'time_line' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <textarea name="resumo"  rows="3" class="form-control"
                      maxlength="10000" required id="id_resumo" placeholder="Conte-nos algo!"></textarea>
            <!--<input type="file" name="foto" id="id_foto">-->
            <div class="input-group mb-3">
                  <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                        <input type="file" class="custom-file-input" id="id_foto"  name="foto" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="id_foto"> Escolher foto </label>
                  </div>
            </div>
                <input type="text", name="tags", id="id_tags" placeholder="Digites as tags sebaradas por virgula" class="form-control">

            <!--{{form}}-->
            <button type="submit" value="postar" class="btn-primary justify-content-end ">Postar</button>


            {% if form.errors %}

                   {% for fild in form %}
                        {% for erro in fild.errors %}

                        <div   class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            </button>
                                {{erro}}
                        </div>
                        {% endfor %}
                   {%endfor%}
               {% endif%}
        </form>
        </div>
        <div class="col-12 col-md-3 col-xl-3">

        </div>
    </div>
{% endblock%}

{%block content%}

{% if resultados %}
        <div class="card-body">
        <h5 class="card-title">Resultado da busca</h5>
        </div>
        {% for resultado in resultados%}
        <div class="text-left">
            <div class="card">
                <div class="card-body">
                    <a href = "{% url 'exibir' resultado.id %}" class="card-link">
                        {{resultado.nome}}
                    </a>
                    <p class="card-text">{{resultado.usuario.email}}</p>
              </div>
            </div>
        </div>
        {% endfor %}
    {%endif%}

    {% if posts.object_list%}
        {%for post in posts.object_list%}
            <div class="card text-left">
                <div class="card-header">
                    {{post.autor.nome}}
                </div>
                {% if post.foto %}
                    <img class="card-img-top img-fluid" src="{{post.foto}}" alt="Imagem de capa do card">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{post.resumo}}</p>
                    {% if post.autor == logado or logado.usuario.is_superuser%}
                    <div class="text-right">
                        <a href="{% url 'deletar_post' post.id %}" class="btn btn-danger" onclick="return confirm('Deletar post?')">Deletar</a>
                    </div>
                    {%endif%}
                </div>
                <div class="card-footer text-muted ">

                    <div class="text-right">
                    {%for tag in post.tags%}
                        <a href="{% url 'busca_tag' tag.id %}"> #{{tag.descricao}}</a>
                    {%endfor%}
                    </div>

                    <div class="row col-12 col-md-12 col-xl-12  ">
                        <div class="text-right">
                            <a href="{% url 'reagir_web' post.id 1 %}"> like </a>{{post.like}}
                            <a href="{% url 'reagir_web' post.id 2 %}">dislike</a> {{post.dislike}}
                        </div>
                    </div>

                    <div class="text-right ">
                            Criado em: {{post.criado_em}}
                    </div>
                </div>

                     <hr/>
                    <form action="{% url 'comentar' post.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Digite um comentário" id="comentario" name="comentario" aria-label="Recipient's comentario" aria-describedby="button-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Comentar</button>
                          </div>
                        </div>
                    </form>

                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Ver comentários
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    {% if post.comentarios%}
                        <p class="card-text">Comentarios: </p> <hr/>
                        {% for comentario in post.comentarios%}
                            <div class="row col-12 col-md-12 col-xl-12  ">
                                {{comentario.descricao}}  -
                                {% if logado.id == comentario.perfil%}
                                    <a href="{% url 'delete_comentario' post.id comentario.id %}"> Deletar</a>
                                {%endif%}
                            </div><br/>
                        {%endfor%}
                    {% endif %}
                     <hr/>
                  </div>
                </div>
            </div>
        {%endfor%}

        <hr/>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
              <ul class="pagination ">
                 {%if posts.has_previous%}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Anterior</a>
                    </li>
                  {%else%}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Anterior</a>
                  </li>
                  {%endif%}
                {%if posts.has_previous%}
                  <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number }}">{{posts.previous_page_number}}</a></li>
                {%endif%}
                <li class="page-item active">
                  <a class="page-link" href="?page={{posts.number }}">{{posts.number}} <span class="sr-only">(current)</span></a>
                </li>
                {% if posts.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number }}">{{posts.next_page_number}}</a></li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.next_page_number }}">Próxima</a>
                </li>
                {%else%}
                 <li class="page-item disabled">
                    <a class="page-link" href="#">Próxima</a>
                 </li>
                 {% endif %}
              </ul>
            </nav>
        </div>

    {%else%}

    {%for post in posts%}

            <div class="card text-left">
                <div class="card-header">
                    {{post.autor.nome}}
                </div>
                {% if post.foto %}
                    <img class="card-img-top img-fluid" src="{{post.foto.url}}" alt="Imagem de capa do card">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{post.resumo}}</p>
                    {% if post.autor == logado or logado.usuario.is_superuser%}
                    <div class="text-right">
                        <a href="{% url 'deletar_post' post.id %}" class="btn btn-danger" onclick="return confirm('Deletar post?')">Deletar</a>
                    </div>
                    {%endif%}
                </div>
                <div class="card-footer text-muted ">

                    <div class="text-right">
                    {%for tag in post.tags.all%}
                        <a href="{% url 'busca_tag' tag.id %}"> #{{tag.descricao}}</a>
                    {%endfor%}
                    </div>

                    <div class="row col-12 col-md-12 col-xl-12  ">
                        <div class="text-right">
                            <a href="{% url 'reagir_web' post.id 1 %}"> like </a>{{post.like}}
                            <a href="{% url 'reagir_web' post.id 2 %}">dislike</a> {{post.dislike}}
                        </div>
                    </div>

                    <div class="text-right ">
                            Criado em: {{post.criado_em}}
                    </div>
                </div>

                <div class="card-body">
                    <form action="{% url 'comentar' post.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Digite um comentário" id="comentario2" name="comentario" aria-label="Recipient's comentario" aria-describedby="button-addon1">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Comentar</button>
                          </div>
                        </div>
                    </form>
                </div>

                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                    Ver comentários
                  </a>
                </p>
                <div class="collapse" id="collapseExample2">
                  <div class="card card-body">
                    {% if post.comentarios.all%}
                        <p class="card-text">Comentarios: </p> <hr/>
                        {% for comentario in post.comentarios.all%}
                            <div class="row col-12 col-md-12 col-xl-12  ">
                                {{comentario.descricao}} -
                                {% if logado.id == comentario.perfil.id%}
                                    <a href="{% url 'delete_comentario' post.id comentario.id %}"> Deletar</a>
                                {%endif%}
                            </div><br/>
                        {%endfor%}
                    {% endif %}
                     <hr/>
                  </div>
                </div>
            </div>
        {%endfor%}
     {%endif%}


{% endblock%}

{%block nav%}
{%if logado.contatos.all %}
    <div class="card-body">
        <h5 class="card-title">Amigos</h5>
    </div>
    {%for contato in logado.contatos.all%}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href = "{% url 'exibir' contato.id %}" class="card-link">
			    {{contato.nome}}
            </a>
            <p class="card-text">{{contato.usuario.email}}</p>
          </div>
        </div>
    {% endfor %}
    {% else%}

        <div class="card-body">
            <h5 class="card-title">Amigos</h5>
        </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <p class="card-text"> Ainda não possuei amigos! </p>
              </div>
            </div>

    {%endif%}

{%endblock%}

{%block aside%}
{%if logado.convites_recebidos.all %}
    <div class="card-body">
        <h5 class="card-title">Convites recebidos</h5>
    </div>
    {%for convite in logado.convites_recebidos.all%}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Convite recebido</h5>
            <p class="card-text">{{convite}}</p>
            <a href="{% url 'aceitar' convite.id %}" class="card-link">Aceitar</a>
            <a href="{% url 'recusar' convite.id %}" class="card-link">Recusar</a>
          </div>
        </div>
    {% endfor %}
    {%else%}

        <div class="card-body">
                <h5 class="card-title">Convites recebidos</h5>
            </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <p class="card-text">Sem convites recebidos!</p>
                  </div>
                </div>
    {%endif%}

{%if logado.convites_enviados.all %}
    <div class="card-body">
        <h5 class="card-title">Convites enviados</h5>
    </div>
    {%for convite in logado.convites_enviados.all%}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Convite enviado</h5>
            <p class="card-text">{{convite}}</p>
            <a href="{% url 'apagar_solicitacao' convite.id%}" class="card-link"
               onclick="return confirm('Apagar solicitação?')">Apagar</a>
          </div>
        </div>
    {% endfor %}
    {%else%}
        <div class="card-body">
            <h5 class="card-title">Convites enviados</h5>
                </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"> Sem convites enviadoss!</h5>
                </div>
{%endif%}
{%endblock%}
