{%extends "base_usuario.html"%}
{% load staticfiles %}
{% block content%}
<div class="row">

    <div class="col-12 col-md-4 col-xl-4" >

    </div>

    <div class="col-12 col-md-4 col-xl-4 card">
    <div class="card-body">
        <div class="form-signin-heading">
            Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.
        </div>

            <form method="post"><input type='hidden' class="form-group"/>
            {% csrf_token %}
                <input  type="email" name="email" maxlength="254" class="form-control"  placeholder="Digite seu e-mail *" required id="id_email" />
                <!--<input 	name="email" id = "id_email" class = "form-control" placeholder="E-mail *" required>-->
                <hr/>
                <input type="submit" value="Reinicializar minha senha" class="btn btn-primary"/>

                 {% if form.errors %}

                   {% for fild in form %}
                        {% for erro in fild.errors %}

                        <div   class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            </button>
                                {{erro}}
                        </div>
                    {% endfor %}
                {%endfor%}
            {% endif%}

            </form>
    </div>
    </div>
    <div class="col-12 col-md-4 col-xl-4">

    </div>
</div>
{% endblock %}